<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        body, html{ 
            width:100%; 
            height:100%; 
            margin:0;
            padding:0;
        }
    </style>
    <link href="../lib/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="../lib/underscore/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="../lib/slabs.io.js/dist/slabs.io.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="app">

    <table ng-controller="TableController as tableController" class="table table-striped" id="grid">
       <thead>
           <tr>
               <th></th>
               <th ng-repeat="header in tableController.headers">
                   {{header}}
               </th>
           </tr>
       </thead>
        <tbody>
        <tr ng-repeat="data in tableController.data">
            <th>{{tableController.categories[$index]  | date:'medium'}}</th>
            <td ng-repeat="(key, value) in data">
                {{value}}
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>
